.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.title {
  text-align: center;
  font-size: 2rem;
}
.input {
  margin-top: 2.5rem;
}
.chat_input {
  width: 720px;
}
.suggestions {
  display: flex;
  margin-top: 1.5rem;
  width: 720px;
  .item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-radius: 2.5rem;
    padding: 0.5rem 1rem;
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
    &:hover {
      border-color: #2f69fe;
    }
  }
  .item_active {
    border: 1px solid #2F69FE;
  }
  .report_margin{
    margin-left: 16px;
  }
}
