.container {
  width: 45rem;
  margin: 21.875rem auto 0;
}
.title {
  text-align: center;
  font-size: 2rem;
}
.input {
  margin-top: 2.5rem;
}
.suggestions {
  display: flex;
  margin-top: 1.5rem;
  gap: 1rem;
  .item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-radius: 2.5rem;
    padding: 0.5rem 1rem;
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
    &:hover {
      border-color: #2f69fe;
    }
  }
}
