.robotMessage {
    .content {
        font-size: 14px;
        color: #272A33;

        // 只有在下一个兄弟元素存在时才加 margin-bottom
        &:not(:last-child) {
            margin-bottom: 16px; // 只有在不是最后一个元素时才加 margin-bottom
        }

        // 只有在下一个元素是 .title 时才加 margin-bottom
        &:has(+ .title) {
            margin-bottom: 16px; // 如果下一个元素是 .title，添加 margin-bottom
        }
    }

    .title {
        font-size: 16px;
        font-weight: 600;
        color: #272A33;

        // 只有在下一个兄弟元素存在时才加 margin-bottom
        &:not(:last-child) {
            margin-bottom: 4px; // 只有在不是最后一个元素时才加 margin-bottom
        }

        // 只有在下一个元素是 .content 时才加 margin-bottom
        &:has(+ .content) {
            margin-bottom: 4px; // 如果下一个元素是 .content，添加 margin-bottom
        }
    }

    .json {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;

        background: #FFFFFF;

        border: 1px solid rgba(0, 0, 0, 0.06);
        border-radius: 8px;

        .jsonTitle {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: start;

            .link {
                color: #2F69FE;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                flex-shrink: 1;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: flex;
                justify-content: center;
                .linkIcon {
                    display: flex;
                    align-items: center;
                    margin-left: 8px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }

            .tips {
                margin-left: 8px;
                color: #8792A4;
                font-size: 14px;
                min-width: 100px;
                flex-grow: 1;
                flex-shrink: 1;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                text-align: right;
            }
        }

        .tableDes {
            margin-top: 8px;
            overflow: hidden;
            width: 100%;
        }

        .relatedColumns {
            width: 100%;
            text-align: left;
            display: flex;
            flex-wrap: wrap;
        }

        .relatedColumns span {
            white-space: nowrap;
        }

        &:not(:last-child) {
            margin-bottom: 4px; // 只有在不是最后一个元素时才加 margin-bottom
        }

        // 只有在下一个元素是 .content 时才加 margin-bottom
        &:has(+ .content) {
            margin-bottom: 4px; // 如果下一个元素是 .content，添加 margin-bottom
        }
    }
}