.rag_layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .detail_layout {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    :global(.simplebar-content-wrapper) {
      display: flex;
      justify-content: center;
    }
    :global(.simplebar-content) {
      width: 768px;
    }
  }

  .input_layout {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 768px;
  }
}
