.detailSteps {
  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 0.75rem;
  .titleBox {
    display: flex;
  }
  .jobIcon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #2f69fe;
    color: #fff;
    &.waiting {
      background-color: #dce6fa;
    }
    &.running {
      color: #2f69fe;
      background-color: #dce6fa;
    }
    &.success {
      background: rgba(0, 168, 95, 0.12);
    }
    &.failed {
      background: rgba(0, 168, 95, 0.12);
    }
  }
  .moduleSteps {
    margin-top: 8px;
    color: #8792a4;
    .moduleItem {
    }
    .moduleContent {
      display: flex;
      gap: 8px;
    }
    .moduleIcon {
      margin-top: 2px;
      width: 0.75rem;
      height: 0.75rem;
      &.module-running {
        color: #2f69fe;
      }
    }

    .moduleTitle {
    }

    .tasks {
      margin-top: 0.25rem;
      border-radius: 12px;
      background: #fafafa;
      overflow: hidden;
      &.isCollapsed {
        height: 0;
      }
      .taskItem {
        padding: 0.5rem;
        display: flex;
        gap: 8px;
        .taskIcon {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 1rem;
          height: 1rem;
          &.task-running {
            color: #2f69fe;
          }
        }
        .taskTitle {
        }
      }
    }
    .collapse {
      display: flex;
      align-items: center;
      color: #2f69fe;
      cursor: pointer;
      .collapseIcon {
        &.rotated {
          transform: rotate(180deg);
        }
      }
    }
  }
}
