.content {
  color: #272a33;
  white-space: break-spaces;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: #272a33;
}

.json {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  .jsonTitle {
    display: flex;
    width: 100%;
    align-items: start;

    .link {
      display: flex;
      align-items: center;
      color: #2f69fe;
      font-weight: 600;
      cursor: pointer;
      line-height: 1.1;
      border-bottom: 1px solid transparent;
      &:hover {
        border-color: #2f69fe;
      }
    }
  }

  .tableDes {
    overflow: hidden;
    width: 100%;
  }

  .relatedColumns {
    width: 100%;
    white-space: break-spaces;
    span {
      white-space: nowrap;
    }
  }
}
