.chatList {
  padding: 24px 16px;
  height: 100%;
  overflow-y: auto;
  .chatItem {
    display: flex;
    margin-bottom: 24px;
    .robot {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 24px;
      height: 24px;
      border-radius: 12px;
      border: 1px solid rgba(0, 0, 0, 0.06);
    }
    .content {
      margin: 0 4px;
      padding: 8px;
      border-radius: 0px 12px 12px 12px;
      border: 1px solid rgba(0, 0, 0, 0.06);
    }
    &.user {
      flex-direction: row-reverse;
      .content {
        border-radius: 12px 0px 12px 12px;
        background: #dce6fa;
      }
    }
  }
}
